/*===================== General rules ====================*/
:root {
  --font-main: font-family: "Cardo", serif;
 
  --basik-color: #1B3764;
  --btn-color:#FFCA42;
  --light-grey-color: rgb(239, 235, 235) ;


}
html,
body {
  font-weight: 400;
  font-family: var(--font-main);
  background-color: var(--light-grey-color);
  position: relative;
  z-index: -10;
  


}
.container-fluid{
    padding-right: 70px;
    padding-left: 70px;
}
img{
    max-width: 100%;
    height: auto;
}
.btn, .dropdown, .dropdown-menu{
    border-radius: 0;
    background-color: var(--btn-color);
    color: var(--basik-color);
    
}
.btn:hover{
    background-color: grey;  
}
section {
    padding: 50px 0;
}

.section-title{
   position: relative;
   text-transform: uppercase;
   font-weight: 700;
}
.section-title span{
    background-color: var(--light-grey-color);
    padding-right: 1rem;
    position: relative;
    z-index: 1;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 50%;
    left: 0;
    border-top: 1px dashed gray ;
    /*z-index: -1;*/
 }
 

/*===================== Header rules ====================*/
.header{
    background-color: var(--basik-color);
    font-family: var(--font-main);
    color: white;
}

.header-top-phone a{
    color: white;
    text-decoration: none;
    margin-left: 10px;

}
.header-top-phone a:hover{
    text-decoration: underline;
}
ul.social-icons{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    padding-right: 90px;

} 
ul.social-icons a{
    color: white;
    height: 30px;
    width: 30px;
    
    float: left;
    text-align: center;
    border-radius: 50%;
}
ul.social-icons a:hover {
    background-color: white;
    color: var(--basik-color);
    transition: all .3s;
}
ul.social-icons li{
    margin-right: 10px;
}
.frame-one{
    background-color: var(--basik-color);
    color: white;
    font-family: var(--font-main);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: var(--btn-color);
    transition: all .4s;
}

/*======================================= Main ====================================*/
/*===================== Curusel ====================*/
.carousel-item img{
    height: 850px;
    object-fit: cover;
}
.carousel-caption{
    text-shadow: 0 0 2px rgb(0, 0, 0, 1);
}
.carousel-caption p {
    font-size: 1.5rem; 
}

/*===================== advatages ====================*/
.advatages .items .item{
    margin-top: 50px;
    background-color: white;
    text-align: center;
    padding: 1rem;
}
.advatages .items .item:hover{
    box-shadow: 0 15px 30px -15px rgb(0, 0, 0, .7);
}
.item p{
    color: grey;
}
/*===================== advatages ====================*/

/*===================== Featured products ====================*/

/*===================== Product card ====================*/
.product-card {
transition: all .3s;
border: 1px solid gray;
background-color: white;
position: relative;
}
.product-card:hover{
    box-shadow: 0 15px 30px -15px rgb(0, 0, 0, .7);
}

.product-card-offer{
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
}
.product-card-offer > div{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;

}
.offer-hit {
   background-color: red ;
}
.offer-new {
    background-color: var(--btn-color);
}
.product-thumb{
    text-align: center;
}
.product-thumb img {
    
    margin-top: 10px;
    max-height: 250px;
}
.product-details {
    padding: 10px 20px;

}
.product-details h4 {
    font-size: 1.2rem;
}

.product-details h4 a  {
    text-decoration: none;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
    transition: all .3s;
    
}
.product-details h4 a:hover{
    color: var(--btn-color);
}
.product-details{
    text-align: center;
}
.product-excerpt{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px;
    overflow: hidden;
}
.product-bottom-details{
    border-top: 1px solid grey;
    padding-top: 1rem;
}
.product-price{
    font-size: 18px;
    color: red;
    font-weight: 600;
}
.product-price small{
    color: grey;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 0.8rem;
}
.owl-carousel-full .owl-item img{
    display: inline-block;
    width: auto;
}
/*===================== Product card ====================*/

/*===================== Featured products ====================*/
/*===================== about-us ====================*/
.about-us{
    background-color: white;
    font-size: 1.5rem;
}
.about-us .section-title span{
    background-color: white;
}
/*===================== about-us ====================*/
/*===================== Main ====================*/
/*===================== FOOTER ====================*/
footer {
    background-color: var(--basik-color);
    padding: 50px 0;
    color: white;
}
footer h4{
    color: var(--btn-color);
}
footer a{
    color: white;
    text-decoration: none;
    transition: all .3s;
}
footer a:hover{
    color: var(--btn-color);
}
.footer-icons{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    font-size: 20px;
}
/*===================== FOOTER ====================*/
#top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--btn-color);
    opacity: .5;
    color: gray;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    font-size: 25px;
    transition: all .5s;
    z-index: 10;
    display: none;
}
#top:hover{
    opacity: 1;
}